
<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3 d-flex justify-content-end">
        <input type="text" class="form-control" placeholder="Search">
        <button type="button" class="btn btn-outline-primary" >Add User</button>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th *ngFor="let head of HeadArray">{{ head.Head }}</th>
                </tr>
            </thead>
            <tbody>   
           <tr *ngFor="let item of GridArray">
                    <td *ngFor="let head of HeadArray">
                        <div *ngIf="item.onEdit">
                                <input type="text" [(ngModel)]="item.head" class="form-control">
                        </div>
                        <div *ngIf="head.FieldName != ''">
                        {{item[head.FieldName]}}
                    </div>
                    <div *ngIf="head.FieldName == ''" class="text-center">
                            <button class="btn btn-sm btn-success" (click)="edit(item)">Edit</button>
                            <button class="btn btn-sm btn-danger" (click)="delete(item)" style="margin-left: 10px;">Delete</button>
                    </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>